body {
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* App */

.app {
    text-align: center;
}

/* Registration */

.container {
    background-image: url("../public/images/registration/Logo.png");
    position: fixed;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 100%;
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 330px;
    text-align: center;
    font-size: 20px;
}

.registration_input {
    width: 300px;
    height: 30px;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);


}

.registration_button {
    margin-top: 15px;
    width: 150px;
    height: 25px;
}

.registration_button:hover {
    margin-top: 15px;
    width: 150px;
    height: 25px;
    color: black;
    background: blueviolet;
    transition: 0.1s linear;
    border: 2px solid darkslateblue;
    border-radius: 2px;
}

.registration_login {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: blueviolet;
}

/* PreHeader */

.pre_header_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #282c34;
    font-size: 60px;
    color: aliceblue;
    font-family: "Roboto Light";
}

/* Header */


.header_first_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: white;
}

.header_firebase_nickname {
    color: blueviolet;
}

/* Description */

.Description_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: aliceblue;
    font-family: "Roboto Light";
    background-color: #282c34;
    height: 300px;


}

/* Line */

.line {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #0D1422;
    color: white;
    font-family: "Roboto Light";
    font-size: 20px;

    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;

}


/* Earth, Mercury, Mars, Jupiter Saturn, Uranium, Neptune */


.earth, .mercury, .venera, .mars, .jupiter, .saturn, .uranium, .neptune {
    display: flex;
    background-color: #202327;
    transition: 0.15s linear;
    box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.2);


}


.earth_img, .mercury_img, .venera_img, .mars_img, .jupiter_img, .uranium_img, .neptune_img {
    margin-left: 100px;
    width: 25%;
    padding: 30px;

}

.earth_text, .mercury_text, .venera_text, .mars_text, .jupiter_text, .uranium_text, .neptune_text {

    margin-top: 70px;
    margin-left: 90px;
    text-align: left;

    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: white;

}

/* Saturn special settings */

.saturn_img {
    margin-left: 100px;
    width: 25%;
    height: 340px;
}

.saturn_text {
    margin-top: 70px;
    margin-left: 90px;
    text-align: left;

    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 40px;
}

/* Media query */

@media (max-width: 992px) {

    /* Description */
    .Description_text {
        font-size: 30px;
    }

    /* Planets (Earth, Mercury, Mars, Jupiter, Uranium, Neptune) */
    .earth, .mercury, .venera, .mars, .jupiter, .saturn, .uranium, .neptune {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;


    }

    .earth_img, .mercury_img, .venera_img, .mars_img, .jupiter_img, .uranium_img, .neptune_img {
        width: 50%;
        margin: 0;

    }

    .earth_text, .mercury_text, .venera_text, .mars_text, .jupiter_text, .uranium_text, .neptune_text {

        width: 50%;
        margin-top: 0;
        margin-bottom: 20px;

    }

    /* Saturn */
    .saturn_img {
        width: 50%;
        margin: 0;
    }

    .saturn_text {
        margin-top: 0;
        margin-left: 90px;
        margin-bottom: 20px;
        width: 50%;

    }
}

@media (max-width: 576px) {

    /* All planet */

    .earth_img, .mercury_img, .venera_img, .mars_img, .jupiter_img, .uranium_img, .neptune_img {
        width: 100%;
    }

    .earth_text, .mercury_text, .venera_text, .mars_text, .jupiter_text, .uranium_text, .neptune_text {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    /* Saturn */
    .saturn_img {
        width: 100%;
        margin: 0;
    }

    .saturn_text {
        padding: 10px;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 20px;
        width: 100%;

    }
}

@media (max-width: 380px) {
    /* Registration */

    .registration {
        margin-top: 240px;
    }

}




